[submodule "content/challenges"]
	path = content/challenges
	url = git@github.com:AdrianMarceau/mmrpg-prototype_challenges.git
[submodule "content/types"]
	path = content/types
	url = git@github.com:AdrianMarceau/mmrpg-prototype_types.git
[submodule "content/skills"]
	path = content/skills
	url = git@github.com:AdrianMarceau/mmrpg-prototype_skills.git
[submodule "content/items"]
	path = content/items
	url = git@github.com:AdrianMarceau/mmrpg-prototype_items.git
[submodule "content/abilities"]
	path = content/abilities
	url = git@github.com:AdrianMarceau/mmrpg-prototype_abilities.git
[submodule "content/fields"]
	path = content/fields
	url = git@github.com:AdrianMarceau/mmrpg-prototype_fields.git
[submodule "content/players"]
	path = content/players
	url = git@github.com:AdrianMarceau/mmrpg-prototype_players.git
