[submodule "content/challenges"]
	path = content/challenges
	url = git@github.com:AdrianMarceau/mmrpg-prototype_challenges.git
[submodule "content/types"]
	path = content/types
	url = git@github.com:AdrianMarceau/mmrpg-prototype_types.git
[submodule "content/skills"]
	path = content/skills
	url = git@github.com:AdrianMarceau/mmrpg-prototype_skills.git
[submodule "content/items"]
	path = content/items
	url = git@github.com:AdrianMarceau/mmrpg-prototype_items.git
